<link rel="stylesheet" href="/Css/Cadastro.css">

<main class="div_main">
  <form class="" action="/cadastrar" method="post">
    <h1>Cadastro</h1>
    <input type="text" name="matricula" value="" placeholder="Matricula" required>
    <input type="text" name="nome" value="" placeholder="Nome" required>
    <input type="text" name="sobrenome" value="" placeholder="Sobrenome" required>
    <input type="text" name="turma" value="" placeholder="Turma" required>
    <input type="text" name="turno" value="" placeholder="Turno" required>
    <input type="submit" name="" value="Cadastrar">
  </form>
</main>
