<form class="" action="/cadastrar" method="post">
  <input type="text" name="matricula" value="" placeholder="Matricula">
  <input type="text" name="nome" value="" placeholder="Nome">
  <input type="text" name="sobrenome" value="" placeholder="Sobrenome">
  <input type="text" name="turma" value="" placeholder="Turma">
  <input type="text" name="turno" value="" placeholder="Turno">
  <input type="submit" name="" value="Cadastrar">
</form>
